html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
p,
button {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  margin: 0;
  padding: 32px;
  min-height: 100dvh;
  min-height: 100vh;
  background: #1c1c1c;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Inter", sans-serif;
}

.container {
  max-width: 550px;
  text-align: center;
  background: #1f2937;
}

.main {
  height: 285px;
  color: #fff;
  background: #6943ff;
  padding-inline: 50px;
  margin-bottom: 35px;
}

.main-header {
  font-size: 28px;
  font-weight: 800;
  padding: 33px 0;
}

.number-to-convert-container {
  width: 117px;
  height: 83px;
  margin-inline: auto;
}

#number-to-convert {
  width: 100%;
  height: 100%;
  color: #fff;
  font-size: 58px;
  text-align: center;
  outline: none;
  border: 2px solid #fff;
  border-radius: 5px;
  background: none;
  margin-bottom: 25px;
}

#convert-btn {
  width: inherit;
  height: 42px;
  font-size: 16px;
  font-weight: 500;
  padding: 9px 28px;
  border-radius: 5px;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 1px 2px #0000000d;
}

#convert-btn:hover {
  background: #ccc1ff;
}

.result-container {
  height: 108px;
  width: 500px;
  margin: 0 auto 23px;
  background: #273549;
}

.coversion-result-header {
  color: #ccc1ff;
  font-size: 20px;
  font-weight: 600;
  padding: 31px 0 10px;
}

.coversion-result-para {
  width: 471.92px;
  height: 33.68px;
  font-size: 14px;
  color: #ffffff;
  font-weight: 400;
}
